.App {
  text-align: center;
  /*height: 100%;*/
  height: 670px;
  /*background-image: url("./styles/imgs/los-angeles-downtown-by-the-night.jpg");*/
  background-color: #222;
  background-image: url("http://wallpaper.pickywallpapers.com/1920x1080/lighting-camps.jpg");
  /*background-image: url("http://wallpaper.pickywallpapers.com/1920x1080/breathtaking-mountains.jpg");*/
  /*background-image: url("http://wallpaper.pickywallpapers.com/1920x1080/californian-nature.jpg");*/
  /*background-image: url("http://cdn.pcwallart.com/images/ocean-water-waves-wallpaper-4.jpg");*/
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
