.navbar {
  /*background-color: black;*/
  background: rgba(0, 0, 0, 0.3);
}

.navbar-wrapper {
  /*border: 1px solid red;*/
  padding-top: 10px;

}

.navbar-link {
  border: 1px solid white;
  display: inline-block;
  width: 190px;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.navbar-category {
  /*border: 1px solid white;*/
  color: white;
  padding: 10px 40px;

}
