.todays-weather-wrapper {
  margin: auto;
  border: 1px solid black;
  /*width: 200px;*/
}

.todays-weather-date {

}

.todays-weather-day {
  font-size: 3em;
}

.todays-weather-temp {
  font-size: 6em;
}

.todays-weather-icon img {
  height: 6em;
}

.todays-weather-desc {
 font-size: 1.5em;
}

.todays-weather-highlow {

}

.each-weather {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}

.each-weather-date {

}

.each-weather-min {
  color: gray;
}

.each-weather-max {
  color: black;
}

.each-weather-icon img {
  height: 6em;
}
