.alarm-wrapper {
  font-family: 'Karla', sans-serif;

}

.alarm-box {
  border: 1px solid white;
  border-radius: 10px;
  margin: 5% 20px;
  width: 200px;
  height: 100%;
  display: inline-block;
}

.alarm-box-button {
  border: 1px solid white;
  border-radius: 10px;
  margin: 5% 20px;
  width: 200px;
  height: 100%;
  display: inline-block;
}

.alarm-box-button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
}

.alarm-label {
  margin: 10px;
  border: 1px solid white;
}

.alarm-add-alarm {
  display: block;
}

.alarm-add-alarm a{
  color: white;
}

.alarm-time-day-wrapper {
  margin: 10px;
  border: 1px solid white;
}

.alarm-time {
  /*margin: 10px;*/
  font-size: 40px;
  font-family: 'Karla', sans-serif;
  /*border: 1px solid black;*/
}

.active-day-wrapper {
  display: inline-block;
  /*border: 1px solid red;*/
}

.active-day {
  /*border: 1px solid blue;*/
  padding: 5px;
  color: white;
  display: inline-block;
}

.inactive-day {
  padding: 5px;
  display: inline-block;
  color: gray;
}

.am {
  font-size: 20px;
}

.on-off-toggle {
  margin: 10px;
  border: 1px solid black;
}

.change-alarm-button {
  margin: 10px;
  border: 1px solid green;
  color: white;
  background-color: black;
}

.change-alarm-button:hover {
  background-color: gray;
}

.delete-alarm-button {
  margin: 10px;
  border: 1px solid gray;
  color: gray;
  background-color: black;
}

.delete-alarm-button:hover {
  background-color: gray;
  color: white;
}
