.timedate-wrapper {
  font-family: 'Abel', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -50px;
}

.counting-time {
  font-size: 140px;
}

.ampm {
  font-size: 70px;
}

.timedate-date {
  font-size: 30px;
  font-family: 'Karla', sans-serif;
}

.alarm-greeting {
  margin: 20px;
  font-size: 50px;
  font-family: 'Abel', sans-serif;
}
