.timedate-wrapper {
  font-family: 'Abel', sans-serif;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  margin-top: -50px;
}

.counting-time {
  font-size: 140px;
}

.ampm {
  font-size: 70px;
}

.timedate-date {
  font-size: 30px;
  font-family: 'Karla', sans-serif;
}

.alarm-greeting {
  font-size: 50px;
  font-family: 'Abel', sans-serif;
}

.inputName {
  font-size: 50px;
  font-family: 'Abel', sans-serif;
  color: white;
  width: 200px;
  background-color: transparent;
  text-align: center;
  border: none;
  border-bottom: 1px solid white;
}

.inputName::placeholder {
  color: white;
}