.weatherContainer {
  height: 100%;
}

.weatherLink {
  color: white;
  text-decoration: none;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  height: 100%;
}

.loadingText {
}